<a href="https://colab.research.google.com/github/gbiamgaurav/ml_mastery/blob/main/Hyperparameter_Tuning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
filename = "https://raw.githubusercontent.com/jbrownlee/Datasets/master/pima-indians-diabetes.data.csv"
features = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']

In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import Ridge

In [3]:
df = pd.read_csv(filename, names=features)
df.head()

   preg  plas  pres  skin  test  mass   pedi  age  class
0     6   148    72    35     0  33.6  0.627   50      1
1     1    85    66    29     0  26.6  0.351   31      0
2     8   183    64     0     0  23.3  0.672   32      1
3     1    89    66    23    94  28.1  0.167   21      0
4     0   137    40    35   168  43.1  2.288   33      1

In [4]:
array = df.values

X = array[:, 0:8]
y = array[:, 8]

### Grid Search for algorithmic tuning

In [5]:
alphas = np.array([1, 0.1, 0.01, 0.001, 0.0001, 0])

In [6]:
param_grid = dict(alpha=alphas)

In [7]:
model = Ridge()

grid = GridSearchCV(estimator=model, param_grid=param_grid)

grid.fit(X, y)

print(grid.best_score_)

print(grid.best_estimator_.alpha)

0.27610844129292433
1.0

### Random Search Parameter Tuning

In [8]:
from scipy.stats import uniform
from sklearn.model_selection import RandomizedSearchCV
from sklearn.linear_model import Ridge
import warnings
warnings.filterwarnings("ignore")

In [9]:
X = array[:, 0:8]
y = array[:, 8]

In [10]:
param_grid = {'alpha': uniform()}

model = Ridge()

rsearch = RandomizedSearchCV(estimator=model, param_distributions=param_grid, n_iter=100)

rsearch.fit(X, y)

print(rsearch.best_score_)
print(rsearch.best_estimator_.alpha)

0.2761081995974525
0.9939734741729794

In [11]:
print(rsearch.best_params_)

{'alpha': 0.9939734741729794}

In [12]:
print(rsearch.best_estimator_)

Ridge(alpha=0.9939734741729794)